<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Foo Magic: {{ page.title }}</title>
    
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <script type="text/javascript" src="http://use.typekit.com/fzv0yyr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body>
    <div id="header">
    </div>

    {{ content }}
    
    <a href="http://github.com/msassak"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
    
    <div id="footer">
    </div>
  </body>
</html>
